/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --text-color-title: #000028;
  --text-color-main-title: #DB00FF;
  --bg-color: #000028;
  --text-color-title-section: #FF0070;
  --font: "IBM Plex mono";
}

.theme-dark .page {
  background-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .decorated::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.page.theme_dark .decorated::after {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.page.theme_dark .header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.page.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}


.page.theme_dark .main-title {
  text-shadow: 4px 4px 0px var(--accent-color);
}

.page.theme_dark .footer-text {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.page.theme_dark .decor {
  display: inline-block;
}

.page.theme_dark .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.page.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgb(255, 0, 112, 0.40);
}
